<h3> Boards: </h3>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Owner</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= for board <- @boards do %>
        <tr>
          <td><%= board.id %></td>
          <td><%= board.name %></td>
          <td><%= owner(board).username %></td>
          <td><%= link "Show", to: show_board_path(@conn, :show, board.id) %></td>
        </tr>
    <% end %>
  </tbody>
</table>
